.detail-container {
    display: flex;
    justify-content: center;
    /* padding: 40px; */
  }
  
  .loading {
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .card {
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 100%;
    /* background: #ffffff; */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    align-items: center;
  }
  
  .mobile-img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .info {
    flex: 1;
  }
  
  .info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #222;
  }
  
  .brand {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
  }
  
  .cart-btn {
    padding: 12px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease;
  }
  
  .cart-btn:hover {
    background: #1e40af;
    transform: scale(1.02);
  }
  